body,html, #root {
  margin: 0;
  height:100%;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#homeinfo {
  color:darkblue
}

#patientlogin{
background-image:url(./background.jpg);

}

#doctorlogin{
  background-image: url(./background.jpg);
}

#create{
  background-image: url(./background.jpg);
}

#patientcard{
  background-color:rgb(0, 102, 153) ;
  font-weight: 700;
  
}
